/****************Presets****************/
html {
   overflow-x: hidden;
   scroll-behavior: smooth;
}

hr {
   display: block;
   margin-left: 20px;
   margin-right: 20px;
   border-radius: 10px;
   border-style: inset;
   border-width: 2px;
}

p {
   overflow-y: hidden;
}

a {
   text-decoration: none;
   color: #0DB5B5;
}

li a:hover {
   transition-duration: .2s;
   color: black;
}
/****************Presets End****************/

/****************Smooth Scroll on Arrow Click****************/
.scroll {
   margin: 20px;
   right: 0;
   position: absolute;
}

.scrollA {
   transition-duration: .5s;
   width: 50px;
   height: 50px;
}

.scrollArrow {
   width: 50px;
   height: 50px;
}
/****************Smooth Scroll End****************/

/****************Heading****************/
#headings {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #0DB5B5;
}

#titles {
   display: flex;
   flex-direction: column;
}

#mainTitle {
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
}

#artists {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
/****************Heading End****************/

/****************Hero Content****************/
#heroDiv {
   position: relative;
}

#hero {
   width: 100%;
   height: 100%;
}

#hero::after {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   display: block;
   margin-top: -150px;
   height: 150px;
   width: 100%;
}

#gradient {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   background-image: linear-gradient(to bottom, transparent 50%, white 100%);
}

#albumName {
   font-weight: bold;
   text-align: center;
   font-size: 30px;
   padding-top: 30px;
   padding-bottom: 10px;
}

#album {
   text-align: center;
   font-size: 20px;
   padding-top: 5px;
   padding-bottom: 10px;
}

#songs {
   margin: 25px 50px 100px 50px;
   justify-content: center;
   box-shadow: 0px 20px 20px 0px rgb(100,100,100, .4);
}

#orderedListVideos {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 10px;
}

.listItem {
   padding: 20px 20px 20px 20px;
  box-shadow: 1px 0px 7px 0px grey, 0px 5px 10px 0 grey;
  margin: 10px;
}

.listItem p {
   padding: 10px 0px 0px 5px;
}

.youtubeVids {
   width: 400px;
   height: 225px;
}
/****************Hero Content End****************/

/****************Section 2****************/
.bgDiv{
   display: flex;
   flex-direction: column;
}

.bg {;
   position: absolute;
   width: 100%;
   z-index: -1;
}

.gradientTop {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: -1;
   background-image: linear-gradient(to top, transparent 40%, white 100%);   
}

#moreInfo {
   text-align: center;
   font-size: 32px;
   margin-top: 100px;
   margin-bottom: -100px;
   padding-top: 50px;
}

#content {
   margin: 150px 300px 0px;
   text-align: left;
   display: flex;
   flex-direction: column;
   color: black;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0px 0px 70px 10px rgb(100,100,100, .7);
}

.contentItem, .contentItem1 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   flex-wrap: wrap;
}

#content img {
   margin-top: 0px !important;
   width: 400px;
   align-self: center;
   justify-content: center;
}

#quote {
   padding-top: 10px;
   padding-left: 40px;
   padding-right: 40px;
   font-size: 16px;
   font-weight: bold;
   color: #0DB5B5;
}

.text1 {
   font-size: 20px;
   width: 45%;
   margin-top: 25px;
}

.img1 {
   margin-left: 10px;
   margin-top: 30px;
   margin-right: 10px;
}

.text2 {
   padding-left: 40px;
   padding-right: 50px;
   font-size: 20px;
   align-self: flex-end;
}

.img2 {
   margin-top: 4px !important;
   margin-right: 0px !important;
}

.text3 {
   width: 45%;
   align-self: flex-end;
   font-size: 20px;
   padding-bottom: 5px;
   margin: 0px 0px 0px 20px;
}

.text4 {
   width: 100%;
   padding: 0px 40px 0px 40px;
   font-size: 20px;
}

.contentItem2 {
   width: 100%;
   display: flex;
   flex-direction: row;
}

.text5 {
   font-size: 20px;
   padding: 0px 10px 0px 40px;
   width: 47%;
}

.img3 {
   margin-top: -10px;
}

.contentItem3 {
   width: 100%;
   display: flex;
   flex-direction: column;
   font-size: 20px;
   margin-bottom: 20px;
}

.contentItem3 p {
   margin-left: 40px;
   margin-right: 30px;
}
/****************Section 2 End****************/

@media only screen and (max-width: 900px) {
   .youtubeVids {
      width: 370px;
      height: 208.125px;
   }
}

@media only screen and (max-width: 600px) {
   .youtubeVids {
      width: 250px;
      height: 140.625px;
   }
   #songs {
      margin-left: 10px;
      margin-right: 10px;
   }
}

@media only screen and (max-width: 450px) {
   .youtubeVids {
      width: 200px;
      height: 112.5px;
   }
}